@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
    user-select: none;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}

h1 , h2 , h3 ,h4 {
    font-family: v.$titulo;
}
body , html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
    background-color: v.$blanco;
    overflow-x: hidden;
}
  a {
    text-decoration: none;
  }
  p {
    font-family: v.$texto;
  }