/* COLORES */

$blanco:#fff;
$negro:#000;
$negroClaro: #1A1818;
$rosado: #ECE7E1;
$cafe : rgb(104, 78, 47);

/* LETRAS */

$texto : "Baskervville SC", serif;
$titulo : "Cinzel", serif;

// media quieries

$telefono : 480px;
$tablet : 768px;
$desktop : 1200px;
$desktopxl : 1400px;