/* COLORES */

$blanco:#fff;
$negro:#000;
$rosado : #FF1493;
$azul : #007BFF;
$verde : #32CD32;
$gris : #E0E0E0;

/* LETRAS */

$texto : "Playfair Display", serif;
$titulo : "Protest Strike", sans-serif;

// media quieries

$telefono : 480px;
$tablet : 769px;
$desktop : 1200px;
$desktopxl : 1400px;