/* COLORES */

$blanco:#fff;
$negro:#000;
$gris : #E0E0E0;
$beige : #cfc5b6;
$azul :#708090;

/* LETRAS */

$texto : "Caveat", cursive;
$titulo : "Protest Strike", sans-serif;

// media quieries

$telefono : 480px;
$tablet : 769px;
$desktop : 1200px;
$desktopxl : 1400px;