@keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }

  @keyframes salida {
    100% {
        transform: translateX(-100%);
    }
  }
  @keyframes header {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
  }
  @keyframes entrada {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
  }