
@keyframes redes {
    0% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
        
    }
}
@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }
@keyframes entrada {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}