@use 'base/variables' as v;
@use 'base/mixins' as m;


.contacto {
    width: 100%;
    height: 150%;
    display: grid;
    grid-template-rows: 35%  65%;
    @include m.telefono {
        grid-template-rows: 45% 55%;
    }
    @include m.desktop {
        height: 100%;
        grid-template-rows: 100%;
        grid-template-columns: 60% 40%;

    }
    .formulario {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        grid-row: 2;
        @include m.desktop {
            grid-row: 1;
        }
    }
    .mail {
        width: 100%;
        height: 100%;
        background-color: v.$negro;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}
.formulario {
    form {
        width: 90%;
        @include m.desktop {
            width: 55%;
            font-size: 3rem;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        font-size: 1.5rem;
        font-family: v.$texto;
        label, input , textarea {
            width: 100%;
        }
        input , textarea {
            border: none;
            border-bottom: 2px solid v.$verdeMedio;
            resize: none;
            transition: all .3s ease-in-out;
            text-align: center;
            &:focus {
                transform: scale(1.1);
                outline: none;
                border-bottom: 2px solid v.$verdeMedio;
            }
        }
        button {
            font-family: v.$titulo;
            color: v.$verdeMedio;
            font-size: 2.5rem;
            width: 70%;
            padding: 10px 0;
            @include m.tablet {
                font-size: 4rem;
                padding: 15px 60px;

            }
            background: transparent;
            border: 1px solid v.$verdeMedio;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                box-shadow: 3px 5px 2px v.$verdeMedio ;
            }
        }
    }
}

.mail {
    p {
        font-size: 1.4rem;
        @include m.tablet {
            width: 70%;
            font-size: 2.3rem;
        }
        color: v.$blanco;
        text-align: center;
        line-height: 50px;
        letter-spacing: 5px;
    }
    a {
        color: v.$verdeClaro;
        font-size: 2rem;
        font-family: v.$titulo;
        padding: 10px 30px;
        border: 2px solid v.$verdeClaro;
        transition: .5s ease-in-out;
        &:hover {
            color: v.$blanco;
            box-shadow: inset 0 200px 0 v.$verdeClaro;
        }
        @include m.tablet {
            padding: 15px 30px;
            font-size: 3rem;
        }
    }
}