@use 'base/variables' as v;
@use 'base/mixins' as m;

.masInfo {
    & {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 50px;
        gap: 2rem;
        position: relative;
        text-align: center;
    }
    @include m.desktop {
        padding-top: 300px;
    }
    img {
        & {
            position: relative;
            width: 200px;
            border-radius: 10px;
            box-shadow: 0 0 70px rgba(0, 0, 0, 0.041);
        }
        @include m.desktop {
            position: absolute;
            top: 160px;
            left: 250px;
        }
    }

    h2 {
        & {
            font-size: 2rem;
            color: v.$verdeMedio;
            z-index: 10;
        }
        @include m.tablet {
            font-size: 4rem
        }
    }
    p {
        & {
            font-size: 1.5rem;
            line-height: 40px;
        }
        @include m.tablet {
            width: 50%;
            font-size: 2rem;
            line-height: 50px;
        }
    }

    .volver {
        position: fixed;
        z-index: 30;
        right: 30px;
        top: 90px;
        font-family: v.$titulo;
        color: v.$verdeMedio;
        font-size: 2.5rem;
        &:hover {
            font-style: italic;
        }
    }
}