@use 'base/variables' as v;
@use 'base/mixins' as m;

.principal {
    width: 100%;
    margin: 0;
    z-index: 5;
    @include m.desktop {
        margin-top: 200px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include m.desktop {
        flex-direction: row;
    }
    .informacion {
        padding: 2rem;
        width: 100%;
        text-align: center;
        border-bottom: 5px solid v.$beige;
        @include m.desktop {
            width: 40%;
            border-bottom: none;
            text-align: left;
            border-right: 5px solid v.$beige;
        }
    }
}

.informacion {
    h1 {
        font-size: 12vw;
        color: v.$beige;
        text-shadow: 8px 14px 1px v.$negro;
        @include m.tablet {
            font-size: 6vw;
        }
        @include m.desktop {
            font-size: 4vw;
        }
    }
    h2 {
        color: v.$azul;
        text-decoration-line: underline;
    }
    p {
        color: v.$gris;
        font-family: v.$texto;
        font-size: 1.7rem;
        line-height: 30px;
        letter-spacing: 2px;
    }
    a {
        width: 200px;
        height: 60px;
        font-size: 2rem;
        font-family: v.$titulo;
        color: v.$negro;
        padding: .8rem 3.5rem;
        text-transform: uppercase;
        background-color: v.$beige;
        transition: .2s ease-in-out;
        box-shadow: 3px 4px 0 v.$azul;
        z-index: 10;
        &:hover {
            background-color: lighten(v.$beige, 10%);
            font-size: 2.04rem;
            box-shadow: 5px 8px 0 v.$azul;
        }
    }
}

.estudios {
    width: 100%;
    @include m.desktop {
        width: 58%;
    }

    .educacion {
        width: 100%;
        z-index: 999;
        background-color: v.$azul;
        text-align: center;
        box-shadow: 10px 7px v.$beige;
        transition: all .2s ease-in-out;
        @include m.desktop {
            width: 90%;
        }
    }
}

.educacion {
    h3 {
        font-size: 2.5rem;
        color: v.$beige;
        font-family: v.$titulo;
        text-shadow: 3px 5px black;
    }

    aside {
        font-family: v.$texto;
        font-size: 1.6rem;
        color: v.$gris;
    }
}