@use 'base/variables' as v;
@use 'base/mixins' as m;


.proyectos-section {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    .proyectos {
        width: 98%;
        background-color: #70809028;
        bottom: 0;
        position: fixed;
        left: 5px;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        overflow-x: scroll;
        align-items: end;
        gap: 3rem;
        padding: 2rem;
        
        &::-webkit-scrollbar {
            width: auto;
            height: 5px;
            background-color: rgb(29, 29, 29);
        }
        @include m.desktop {
            width: 50%;
            height: 300px;
            flex-direction: column;
            bottom: 30px;
            left: auto;
            right: 20px;
            background: transparent;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 5px;
                height: auto;
               }
        }
        .proyecto {
            background: transparent;
            border: none;
            font-size: 3vw;
            color: v.$beige;
            font-family: v.$titulo;
            text-transform: uppercase;
            text-shadow: 5px 7px 1px black;
            
            &:hover {
                font-style: italic;
                cursor: pointer;
            }
        }
    }
}
.festival {
    width: 100%;
    @include m.desktop {
        width: 50%;
    }
    margin: 100px 0;
    display: none;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 4vw;
        color: v.$azul;
        text-shadow: 3px 6px black;
    }
    img {
        width: 100%;
        height: auto;
    }
    p {
        text-align: center;
        font-family: v.$texto;
        font-size: 2.5rem;
        color: v.$gris;
        line-height: 50px;
        letter-spacing: 3px;
    }
    .responsive {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        img {
            width: 40%;
            height: auto;
            transform: rotate(10deg);

            &:last-of-type {
                transform: rotate(-10deg);
            }
        }
    }
}