@use 'base/variables' as v;
@use 'base/mixins' as m;


.proyectos {
    & {
        display: grid;
        grid-template-rows: 40% 60%;
        width: 100%;
        min-height: 100%;
        place-items: center;
    }
    @include m.desktop {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .izquierda {
        & {
            width: 100%;
            height: 100%;
            background-color: v.$negro;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        @include m.desktop {
            width: 60%;
            height: 100%;
        }
    }
    .derecha {
      & {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        overflow-x: scroll;
        gap: 20px;
        padding-left: 35px;
    }
    &::-webkit-scrollbar {
        width: 0;
    }
    @include m.desktop {
        overflow-x: none;
        overflow-y: scroll;
        flex-direction: column;
        width: 35%;
      }
    }
}

.izquierda {
    h2 {
        & {
            font-size: 13vw;
            color: v.$verdeOscuro;
        }
        @include m.tablet {
            font-size: 6.5vw;
        }
    }
    .proyectos__boton {
        & {
            color: v.$verdeClaro;
            border: 2px solid v.$verdeClaro;
            font-family: v.$titulo;
            font-size: 3rem;
            width: 220px;
            height: 70px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        @include m.tablet {
            width: 300px;
            height: 90px;
            font-size: 4rem;
            }
            i {
                display: none;
                margin-left: 20px;
            }
            &:hover {
                justify-content: space-around;
            }
            &:hover i {
                display: block;
                animation: in .3s ease-in-out;
            }
    }
}
@keyframes in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.derecha {
   .proyecto {
    & {
        height: auto;
        text-align: center;
        padding-bottom: 20px;
        border-radius: 30px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.082);
        min-width: 350px;
    }
    @include m.desktop {
        width: 80%;
    }
    img {
        width: 100%;
        height: auto;
        border-radius: 30px 30px 0 0;
    }
    h2 {
        color: v.$verdeOscuro;
        font-size: 3rem;
    }
    p {
        font-size: 1.7rem;
    }
    .enlace {
        padding: 5px 50px;
        font-size: 2rem;
        font-family: v.$titulo;
        color: v.$blanco;
        background-color: v.$verdeClaro;
        &:hover {
            background-color: lighten(v.$verdeClaro, 5%);
        }
    }
   }
}